<?xml version="1.0"?>
<model>
  <name>aruco_tag</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Kishu</name>
    <email>student@example.com</email>
  </author>

  <description>
    Static ArUco marker model for Robotics Lab HW2 vision-based control.
  </description>
</model>
